html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-header {
    position: absolute;
    background: transparent;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.bottom-header {
    background-color: white;
    padding: 10px;
    text-align: center;
}
.slogan {
    font-size: 30px;
    color:#FEBF00;
    text-shadow: 1px 1px 1px black;
    transition: 2s;
    margin: -100px;
}
.slogan:hover {
    font-size: 50px;
}
.news-text {
    font-size: 50px;
    color:#FEBF00;
    text-shadow: 1px 1px 1px black;
    margin-top:-80px;
    margin-left: 15px;
}

h1 {
    color: white;
    padding: 10px;
    font-size: 40px
}
nav {
    margin-left: 40px;
}
.links {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links li {
    display: inline-block;
    margin-right: 20px;
}
.links a {
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
    color: white;
}
.links a:hover {
    color: #FEBF00;
}
.pasta-image img {
    width: 100%;
    height: 100%;
    border-style: none;
    clip-path: inset(0px 0px 200px 0px);
}
.steak-img img {
    width: 100%;
    height: 100%;
    border-style: none;
    clip-path: inset(0px 0px 200px 0px);
}
h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    text-shadow: 1px 1px 3px black;
    
}
.btn {
    background: #ffffff;
    padding: 10px 32px;
    outline: 2.5px solid #FEBF00;
    outline-offset: 3px;
    border: 0;
    color: #FEBF00;
    font-size: 36px;
    transition: 0.2s;
    font-weight: 600;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover {
    outline-offset: 4.5px;
    background: #FEBF00;
    color: white;
}
.menu-txt {
    font-size: 35px;
    font-weight: bold;
    color: #FEBF00;
    text-shadow: 1px 1px 1px black;
    margin: 120px;
}
.news{
    background-color: black;
    border: 20px solid white;
    border-radius: 40px;
}
.burger-img{
    width:25%;
    animation-duration: 3s;
    animation-name: right-slidein;
    float:left;
    shape-outside: circle(60%);
}
@keyframes right-slidein {
    from {
    margin-left: 100%;
    }
    to {
    margin-left: 0%;
    }
}
.colored{
    color: #FEBF00;
    font-weight: Bold;
}
.burger-description{
    font-size: 30px;
    color:#ffffff;
}
.new-burger-description {
    color:#ffffff;
    font-weight: bold;
    padding-top: 10px;
}
.michelin-logo{
    width: 30%;
    float: right;
    animation-duration: 3s;
    shape-outside: circle(50%);
    animation-name: left-slidein;
}
@keyframes left-slidein {
    from {
        margin-right: 100%;
        }
        to {
        margin-left: 0%;
        }
}
.michelin-description{
    font-size: 30px;
    color:#ffffff;
    padding-left: 18px;
}
.michelin{
    padding-top: 10px;

}
.pizza-img{
    width:25%;
    animation-duration: 3s;
    animation-name: right-slidein;
    float:left;
    shape-outside: circle(60%);
}
.pizza-sale{
    font-size: 30px;
    color:#ffffff;
    padding-left:18px;
}
.pizza-gift{
    padding-top: 10px;
}
.reservation-img{
    width: 40%;
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}
.text{
    background-color: black;
    color: white;
    font-size: 15px;
    padding-bottom: 35px;
    border: 20px solid white;
}
.reservation-text{
    font-size: 50px;
    color:#FEBF00;
    text-align: center;
    padding-top: 50px;
}
.text p{
    font-size: 20px;
    padding-left: 30px ;
    text-align:center;
    margin-top:-25px;
    margin-bottom: 58px;
    font-style: oblique;
}
.reserve-btn {
    background: #ffffff;
    padding: 10px 32px;
    outline: 2.5px solid #FEBF00;
    outline-offset: 3px;
    border: 0;
    color: #FEBF00;
    font-size: 36px;
    transition: 0.2s;
    font-weight: 600;
    margin-left:300px
    
}
.reserve-btn:hover {
    outline-offset: 4.5px;
    background: #FEBF00;
    color: white;
}
.delivery-img{
    width: 40%;
    float: left;
    margin-left: 20px;
    margin-top: -20px;
}
.delivery-text{
    color:#FEBF00;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
.text-delivery p{
    font-size: 20px;
    text-align:center;
    margin-top: -25px;
    font-style: oblique;
    margin-bottom: 70px;
}
.order-btn {
    background: #ffffff;
    padding: 10px 32px;
    outline: 2.5px solid #FEBF00;
    outline-offset: 3px;
    border: 0;
    color: #FEBF00;
    font-size: 36px;
    transition: 0.2s;
    font-weight: bold;
    margin-left:340px
    
}
.order-btn:hover {
    outline-offset: 4.5px;
    background: #FEBF00;
    color: white;
}
.slide-left{
    animation-duration: 2s;
    animation-name: left-slidein1;
}
@keyframes left-slidein1{
    0%{transform: translate(-500px);}		 
		100%{transform: translateX(0px);}
}
.slide-right{
    animation-duration: 2s;
    animation-name: right-slidein1;
    margin-bottom: 300px;
    margin-top:-50px;
}
@keyframes right-slidein1{
    0%{transform: translate(1500px);}		 
    100%{transform: translateX(0px);}
}


